@font-face {
    font-family: 'Norse Bold';
    src: url('fonts/Norse-Bold.otf') format('opentype');
}

a {
    text-decoration: none;
    color: #596D48;
    font-weight: 550;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Inter';
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    background-image: url('images/photo-1585202900225-6d3ac20a6962.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    flex-basis: 0 0 30%;
    width: 40vw;
    height: 100vh;
}

.logo {   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 33%;    
    background-color: rgba(0, 0, 0, 0.5);
}

.logo #odin {
    font-family: 'Norse Bold';
    font-size: 7rem;
    color: white;
}

.left img {
    max-width: 20%;
    height: auto;
    object-fit: contain;
}

.right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.intro, .form, .bottom {
    display: flex;
    max-width: 100%;
    flex-basis: 33.33%;
    box-sizing: border-box;
    padding: 50px;
}

.intro {
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 550;
    background-color: rgba(0, 0, 0, 0.1);
}

.letsdothis {
    display: flex;
    font-size: 2rem;
}

.form { 
    justify-content: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    gap: 10px
}

.inputs input:invalid {
    border-color: red;
}

.inputs input:valid {
    border-color: #E5E7EB;
}

.inputs form {
    display: flex; 
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.inputs form > div {
    display: flex;
    flex-direction: column;
    flex-basis: 48%;
}

.inputs label {
    margin-bottom: 5px;
}

.inputs input {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #000;
}

.bottom {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    gap: 30px;
}

button {
    background-color: #596D48;
    border-radius: 5px;
    border: 2px solid #596D48;
    color: white;
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 550;
    width: 10vw;
    height: 5vh;
}

.bottom div {
    display: flex;
    gap: 8px;
}

